/doctrine/models/generated/*.php
/doctrine/migrations/*.php

/application/configs/environment.php
/application/configs/application.local.ini
/www/images/tinymce/*
/application/configs/application.local.yaml
/backup

.buildpath
.project
.settings/*
