@media screen {
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('/images/font.woff') format('woff');
}
}
